* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 50px;
}

body {
    background: #60CBB5;
    overflow: hidden;
    height: 100vh;
}

#main, #summary, .question, .hidden {
    display: none;
}

/* FORM STYLING */

input:hover {
    cursor: pointer;
}

input[type="submit"], .btn {
    background: rgba(0, 0, 0, 0);
    border: 3px solid white;
    display: inline-block;
    padding: 7px 20px;
    margin: 0px 5px;
    text-decoration: none;
}

input[type="submit"]:hover, .btn:hover {
    background: white;
    border-color: white;
    color: #60CBB5;
}

input[type="range"] {
    width: 500px;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 30px;;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

#loggedin {
    /* background: #60CBB5; */
}

#user-profile {
    text-align: center;
}

#profileImage {
    border-radius: 100%;
    /* display: inline-block; */
    display: none;
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
    /* float: left; */
    /* width: 50%; */
    /* height: 50vw; */

    height: 100vh;
}

.pageHeight {
    height: 100vh;;
}

.wrapper {
    top: 40%;
    transform: translateY(-50%);
    position: relative;
}

.question{
    width: 100%;
    position: absolute;
    /* display: none; */
    /* opacity: 0; */
}