* {
    font-family: 'Montserrat', sans-serif;
}
#login, #loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

#loggedin {
    /* background: #60CBB5; */
}

#user-profile {
    text-align: center;
}

#profileImage {
    border-radius: 100%;
    display: inline-block;
}

#content-wrapper {
    /* border: 1px solid grey; */
    margin-top: 50px;
    /* padding: 50px; */
}

#questions {
    position: relative;
    float: left;
    width: 50%;
    height: 50vw;
}

#question-wrapper {
    padding: 50px;
}

#question-wrapper * {
    font-size: 30px;
}

.question {
    position: absolute;
    display: none;
    opacity: 0;
}

#placeholder {
    position: relative;
    float: right;
    display: block;
    width: 50%;
    height: 50vw;
    background-image: url("../assets/placeholder.png");
    background-size: 100% auto;

    border-radius: 100%;;
}