
@import "shared";

#frame-letters {
    // display: none;
    li {
        display: none;
        position: absolute;
        height: $frameLetterSize;
        width: $frameLetterSize;
        z-index: $zIndexNav;

        &.left {
            left: $framePadding;
        }

        &.right {
            right: $framePadding
        }

        &.top {
            top: $framePadding;
        }
        
        &.bottom {
            bottom: $framePadding;
        }

        &.center {
            @include horizontalAlign(absolute);
        }

        &.middle {
            @include verticalAlign(absolute);
        }
    }

    // @include transform(scale(1));
    // @include transition(transform 0.2s ease);

    // @include maxW($tabletPortraitWidth) {
    //     @include transform(scale(0));
    // }
}