@import 'shared';
#hop {
    background-image: url(./assets/fruit/hop_headphones.png);
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: center;
    z-index: -1;
    display: none;
}

    
#landing {
    .text-wrapper {
        text-align: center;
        width: 100%;
        padding: 100px 0px;
        background: -moz-linear-gradient(0deg, rgba(136,0,157,0) 0%, rgba(144,17,161,0.32) 50%, rgba(153,35,166,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(136,0,157,0) 0%, rgba(144,17,161,0.32) 50%, rgba(153,35,166,0) 100%);
        background: linear-gradient(0deg, rgba(136,0,157,0) 0%, rgba(144,17,161,0.32) 50%, rgba(153,35,166,0) 100%);
    }

    .logo-wrapper-large, .logo-wrapper-mobile {
        width: 100%;
    }

    .logo, .logo-head {
        display: inline-block;
        width: 100%;
        overflow: visible;

        @include transition(height 0.2s ease);
    }

    .logo-wrapper-large {
        .logo-head {
            height: 19px;
            margin-bottom: 20px;
    
            // < 1366px
            @include maxW($desktopLargeWidth) {
                // height: 21px;
            }
    
            // < 1280px
            @include maxW($desktopWidth) {
                // height: 19px;
            }
    
            // < 1024px
            @include maxW($tabletLandscapeWidth) {
                height: 18px;
            }
        }
    
        .logo {
            height: 55px;
    
            // < 1366px
            @include maxW($desktopLargeWidth) {
                // height: 60px
            }
    
            // < 1280px
            @include maxW($desktopWidth) {
                // height: 55px
            }
    
            // < 1024px
            @include maxW($tabletLandscapeWidth) {
                height: 50px
            }
        }

        @include maxW($mobileLargeWidth) {
            display: none;
        }
    }

    .logo-wrapper-mobile {
        display: none;

        .logo-head {
            margin-bottom: 20px;
            display: inline-block;
            width: 57%;
        }

        .logo {
            height: 40vh;
        }

        @include maxW($mobileLargeWidth) {
            display: block;
        }
    }

    // #logo-letters {
    //     .letter {
    //         display:inline-block;
    //         position: relative;

    //         svg {
    //             width: $letterSize;
    //         }
    //     }
    
    // }

    .subheading {
        color: $beige;
        font-weight: 400;
        margin: 30px 0px;
        text-align: center;
        display: inline-block;

        span {
            display: block;

            &:nth-child(2) {
                display:none;
            }
        }
    }

    .next-btn {
        display: inline-block;
    }
}

// // >1920px
// @include minW($desktopXLargeWidth) {
//      .text-wrapper {
//         @include transform(scale(1));
//     }
// }

// //1920px;
// @include maxW($desktopXLargeWidth) {
//     .text-wrapper {
//         @include transform(scale(0.8));
//     }
// }

// //1366px
// @include maxW($desktopLargeWidth) {
//     .text-wrapper {
//         @include transform(scale(0.7));
//     }
// }

// //1280px
// @include maxW($desktopWidth) {
//     .text-wrapper {
//         @include transform(scale(0.7));
//     }
// }

// //768px;
// @include maxW($tabletPortraitWidth) {
//     .text-wrapper {
//         @include transform(scale(0.6));
//     }
//     .subheading span{
//         display: inline-block;
//     }
// }

//640px
// @include maxW($mobileLargeWidth) {
//     #landing .text-wrapper {
//         @include transform(scale(1));
//     }

//     #landing {
//         .logo-head, .logo {
//             display: none;
//         }
    
//         .logo-mobile {
//             height:auto;
//         }

//         .subheading {
//             width: 50%;
//             max-width: 250px;
//             min-width: 210px;
//             display: inline-block;
//             font-size: 16px;

//             span {
//                 display:inline;

//                 &:nth-child(2) {
//                     display: inline
//                 }
//             }
//         }
//     }
// }

// //480px;
// @include maxW($mobileWidth) {

// }