@import 'shared';

#landing {
    .text-wrapper {
        text-align: center;
        // @include transition(width 0.2s ease);       
        // @include setBreakpoints(width, 800px, 700px, 600px, 500px, 400px, 400px, 60%, 60%);

        // @include maxMobile {
        //     max-width: 250px;
        // }
    }

    .logo, .logo-head {
        width: 100%;
        overflow: visible;
    }

    .logo {
        @include setBreakpoints(height, 70px, 70px, 70px, 70px, 70px, 70px, 70px, 70px);
    }

    .logo-mobile {
        width: 80%;
        @include maxMobile {
            display: inline-block;
        }
    }

    .logo {
        @include maxMobile {
            display: none;
        }
    }

    .subheading {
        color: $orange;
        margin: 30px 0px;
        text-align: center;
        display: inline-block;

        @include setBreakpoints(font-size, 20px, 20px, 20px, 18px, 18px, 16px, 14px, 14px);

        @include minTablet {
            span {
                display: block;
            }
        }

        @include maxMobile {
            width: 80%;
            span {
                display: inline-block;
            }
        }
    }
}


// #landing {
//     font-family: 'Circular';

//     .subheading {
//         color: $orange;
//         margin: 30px 0px;
//         text-align: center;

//         span {
//             display: block;
//         }
//     }

//     .theSoundOf {
//         margin-bottom: 10px;

//         svg {
//             height: 57px;
//         }
//     }

//     .nectaron {
//         path, polygon, rect {
//             fill: $orange;
//             @include transition(fill 1s ease)
//         }
//     }

//     .fruits {
//         .fruit-top {
//             width: 140px;
//             right: 185px;
//             top: -220px;
//         }

//         .fruit-bottom {
//             width: 190px;
//             right: 160px;
//             top: -50px;
//         }

//         .pineapple-top {
//             width: 210px;
//             left: 140px;
//             top: -250px;

//             @include transform(rotate(-90deg));
//         }

//         .fruit-bottom-2 {
//             width: 190px;
//             left: 370px;
//             top: -160px;
        
//             @include transform(rotate(-90deg));
//         }

//         .pineapple-burner {
//             width: 330px;
//             right: 250px;
//             bottom: -200px;
//         }

//         .fruit-whole {
//             width: 180px;
//             left: 300px;
//             bottom: -200px;        
//         }

//         // .fruit-top {
//         //     width: 140px;
//         //     right: 178px;
//         //     top: 71px;
//         // }

//         // .fruit-bottom {
//         //     width: 190px;
//         //     right: 160px;
//         //     top: 250px;
//         // }

//         // .pineapple-top {
//         //     width: 200px;
//         //     left: 0px;
//         //     top:0px;
//         // }

//         // .fruit-bottom-2 {
//         //     width: 200px;
//         //     left: 0px;
//         //     top:0px;
//         // }

//         // .pineapple-burner {
//         //     width: 300px;
//         //     right: 250px;
//         //     bottom: 100px;
//         // }
//     }
// }