@import 'shared';

#landing {
    .text-wrapper {
        text-align: center;
        width: 100%;
    }

    .logo-wrapper-large, .logo-wrapper-mobile {
        width: 100%;
    }

    #logo-letters {
        // border: 1px solid black;
        .letter {
            display:inline-block;
            position: relative;

            svg {
                width: $letterSize;
            }

            // &:nth-child(2) {
            //     // E
            //     left: 12px;
            // }

            // &:nth-child(3) {
            //     // C
            //     left: 13px;
            // }

            // &:nth-child(4) {
            //     // T
            //     left: 9px;
            // }

            // &:nth-child(5) {
            //     // A
            // }

            // &:nth-child(6) {
            //     // R
            //     left: 9px;
            // }

            // &:nth-child(7) {
            //     // O
            //     left: 13px;
            // }

            // &:nth-child(8) {
            //     // N
            //     left: 13px;
            // }
        }
    
    }

    .logo, .logo-head {
        display: inline-block;
        width: 100%;
        overflow: visible;
    }

    .logo-head {
        height: 60px;
    }

    .logo-mobile {
        height: 0;
        width: 50%;
        max-width: 250px;
        display: inline-block;
    }

    .subheading {
        color: $orange;
        margin: 30px 0px;
        text-align: center;
        display: inline-block;
        color: $purple;
        
        font-size-adjust: 20px;

        span {
            display: block;

            &:nth-child(2) {
                display:none;
            }
        }

        // @include minTablet {
        //     span {
        //         display: block;
        //     }
        // }

        // @include maxMobile {
        //     width: 80%;
        //     span {
        //         display: inline-block;
        //     }
        // }
    }

    .next-btn {
        display: inline-block;
    }
}


// #landing {
//     font-family: 'Circular';

//     .subheading {
//         color: $orange;
//         margin: 30px 0px;
//         text-align: center;

//         span {
//             display: block;
//         }
//     }

//     .theSoundOf {
//         margin-bottom: 10px;

//         svg {
//             height: 57px;
//         }
//     }

//     .nectaron {
//         path, polygon, rect {
//             fill: $orange;
//             @include transition(fill 1s ease)
//         }
//     }

    .fruits {
        display: none;
        .fruit-top {
            width: 140px;
            right: 185px;
            top: -220px;
        }

        .fruit-bottom {
            width: 190px;
            right: 160px;
            top: -50px;
        }

        .pineapple-top {
            width: 210px;
            left: 140px;
            top: -250px;

            @include transform(rotate(-90deg));
        }

        .fruit-bottom-2 {
            width: 190px;
            left: 370px;
            top: -160px;
        
            @include transform(rotate(-90deg));
        }

        .pineapple-burner {
            width: 330px;
            right: 250px;
            bottom: -200px;
        }

        .fruit-whole {
            width: 180px;
            left: 300px;
            bottom: -200px;        
        }

        // .fruit-top {
        //     width: 140px;
        //     right: 178px;
        //     top: 71px;
        // }

        // .fruit-bottom {
        //     width: 190px;
        //     right: 160px;
        //     top: 250px;
        // }

        // .pineapple-top {
        //     width: 200px;
        //     left: 0px;
        //     top:0px;
        // }

        // .fruit-bottom-2 {
        //     width: 200px;
        //     left: 0px;
        //     top:0px;
        // }

        // .pineapple-burner {
        //     width: 300px;
        //     right: 250px;
        //     bottom: 100px;
        // }
    }
// }


// >1920px
@include minW($desktopXLargeWidth) {
     .text-wrapper {
        @include transform(scale(1.2));
    }
}

//1920px;
@include maxW($desktopXLargeWidth) {
    .text-wrapper {
        @include transform(scale(1.1));
    }
}

//1366px
@include maxW($desktopLargeWidth) {
    .text-wrapper {
        @include transform(scale(1));
    }
}

//1280px
@include maxW($desktopWidth) {
    .text-wrapper {
        @include transform(scale(0.9));
    }
}

//768px;
@include maxW($tabletPortraitWidth) {
    .text-wrapper {
        @include transform(scale(0.7));
    }
    .subheading span{
        display: inline-block;
    }
}

//640px
@include maxW($mobileLargeWidth) {
    #landing .text-wrapper {
        @include transform(scale(1));
    }

    #landing {
        .logo-head, .logo {
            display: none;
        }
    
        .logo-mobile {
            height:auto;
        }

        .subheading {
            width: 50%;
            max-width: 250px;
            min-width: 210px;
            display: inline-block;
            font-size: 16px;

            span {
                display:inline;

                &:nth-child(2) {
                    display: inline
                }
            }
        }
    }
}

//480px;
@include maxW($mobileWidth) {

}