@import "shared";

$framePadding : 20px;
$loaderDimensions : 200px;

#loader-container {
    @include centerAlign();
    position:absolute;
    width: $loaderDimensions;
    height: $loaderDimensions;

    #loader {
        position: relative;

        li, #loader-bar, .letter {
            opacity:0;
        }

        li {
            display: block;
            position: absolute;
            width: $loaderDimensions;
            &.letter {
                height: $loaderDimensions;

                svg {
                    height: $loaderDimensions;
                    width: $loaderDimensions;
                }
            }

            &.hop-top {
                background-image: url("./assets/loader/hopTop.png");
            }


            &.fruit-top {
                background-image: url("./assets/loader/fruitTop.png");
                top: -190px;
                height: 300px;
            }

            &.hop-bottom {
                background-image: url("./assets/loader/hopBottom.png");
                top: 90px;
                height: $loaderDimensions;
            }

            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }

    #loader-bar {
        polygon {
            @include transition(fill 0.2s ease)
        }

        .loader-fill-a {
            stop-color: $orange
        }
    
        .loader-fill-b {
            stop-color: $purple;
        }
        // background: blue;
        // height: 200px;
        // width: 200px;
        // clip-path: url(#myClip);
        // clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
}

#logo-letters {
    display: none;
    .letter {
        position: absolute;
        height: 100px;
        width: 100px;
    }

    &.frame {
        .letter {
            &:first-child {
                // N
                top: $framePadding;
                left: $framePadding;
            }
    
            &:nth-child(2) {
                // E
            }
    
            &:nth-child(3) {
                // C
            }
    
            &:nth-child(4) {
                // T
            }
    
            &:nth-child(5) {
                // A
            }
    
            &:nth-child(6) {
                // R
            }
    
            &:nth-child(7) {
                // O
            }
    
            &:last-child {
                // N
            }
        }

    }

    &.loader {

    }
}

// #shared {
//     z-index: 100;
//     .logo-letters {
//         polygon, path {
//             @include transition(fill 0.5s ease);
//         }

//         svg{
//             width: $letterSize;
//             height: $letterSize;
//         }

//         .letter {
//             position: absolute;
//         }

//         &.loader {
//             @include centerAlign();
//             width: calc(#{$letterSize} * 3);
//             height: calc(#{$letterSize} * 3 + 2 * 5px);
//             // width: calc(#{$letterSize} * 2);
//             // height: calc(#{$letterSize} * 4 + 3 * 5px);

//             .letter-N1, .letter-T, .letter-O {
//                 left: 0px;
//             }

//             .letter-E, .letter-A, .letter-N2 {
//                 left: $letterSize;
//             }
            
//             .letter-C, .letter-R {
//                 right: 0px;
//             }

//             .letter-T, .letter-A, .letter-R {
//                 top: calc(#{$letterSize} + 5px);
//             }

//             .letter-O, .letter-N2 {
//                 bottom: 0px;
//             }

//             // li {
//                 // &:nth-child(odd) {
//                 //     left: 0px;
//                 // }

//                 // &:nth-child(even) {
//                 //     right: 0px;
//                 // }
//             // }

//             // .letter-N1, .letter-E {
//             //     top: 0px;
//             // }

//             // .letter-C, .letter-T {
//             //     top: calc(#{$letterSize} + 5px);
//             // }

//             // .letter-A, .letter-R {
//             //     top: calc(#{$letterSize} * 2 + 10px)
//             // }

//             // .letter-O, .letter-N2 {
//             //     bottom: 0px;
//             // }
//         }
        
//         &.border{
//             .letter-N1, .letter-E, .letter-C {
//                 top: $letterPadding;
//             }
            
//             .letter-N1, .letter-T, .letter-R {
//                 left: $letterPadding;
//             }
            
//             .letter-R, .letter-O, .letter-N2 {
//                 bottom: $letterPadding;
//             }
            
//             .letter-C, .letter-A, .letter-N2 {
//                 right: $letterPadding;
//             }
            
//             .letter-E, .letter-O {
//                 left: center(100vw, $letterSize);
//             }
            
//             .letter-T, .letter-A {
//                 top: center(100vh, $letterSize);
//             }
//         }
//     }
// }
