$letterSize: 50px;
$letterPadding: 20px;

$logoTopHeight: 4vw;
$logoHeight: 5vw;
$roundNumberHeight: 18vw;

// COLOURS
$purple : #88009D;
$orange: #FF1900;
$beige: #FCF1DB;

@function center($containerWidth, $elWidth) {
  @return calc(#{$containerWidth} / 2 - (#{$elWidth} / 2));
}

@mixin verticalAlign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontalAlign {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@font-face {
    font-family: 'Circular';
        src: url('fonts/CircularStd-Bold.otf') format('opentype'),
            url('fonts/CircularStd-Bold.woff') format('woff'),
            url('fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
        src: url('fonts/CircularStd-Book.otf') format('opentype'),
            url('fonts/CircularStd-Book.woff') format('woff'),
            url('fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Harbour';
        src: url('fonts/Harbour-Bold.ttf') format('truetype'),
            url('fonts/Harbour-Bold.woff') format('woff'),
            url('fonts/Harbour-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harbour';
        src: url('fonts/Harbour-Light.ttf') format('truetype'),
            url('fonts/Harbour-Light.woff') format('woff'),
            url('fonts/Harbour-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    overflow: hidden;
}

.fullPage {
    margin: 0;
    padding: 0;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    position: absolute;
}

.section {
    display: none;
    // transition: opacity 0.2s ease;
    // opacity: 0;

    // &.active {
    //     opacity: 1;
    // }
}

.btn {
    width: 150px;
    display: inline-block;
    cursor: pointer;

    // .purple, .orange, .orange-2 {
    //     transition: all 0.1s ease-in-out;
    // }
    

    // &:hover {
    //     .purple {
    //         fill: $orange;
    //     }

    //     .orange {
    //         fill: $purple;
    //     }

    //     .orange, .orange-2 {
    //         stroke: $purple;
    //     }
    // }
}

.letter {
    position: absolute;

    svg{
        width: $letterSize;
        height: $letterSize;
    }
}

#shared {
    .logo-letters {
        .letter-N1, .letter-E, .letter-C {
            top: $letterPadding;
        }
        
        .letter-N1, .letter-T, .letter-R {
            left: $letterPadding;
        }
        
        .letter-R, .letter-O, .letter-N2 {
            bottom: $letterPadding;
        }
        
        .letter-C, .letter-A, .letter-N2 {
            right: $letterPadding;
        }
        
        .letter-E, .letter-O {
            left: center(100vw, $letterSize);
        }
        
        .letter-T, .letter-A {
            top: center(100vh, $letterSize);
        }
    }
}

#fruits {
    #fruitTop {
        background-image: url("./assets/fruitTop.png");
        height: 260px;
        width: 200px;
        right: 200px;
        top: 60px;
    }

    #fruitBottom {
        background-image: url("./assets/fruitBottom.png");
        height: 215px;
        width: 200px;
        right: 200px;
        top: 60px;
    }

    #pineappleTop {
        background-image: url("./assets/pineappleTop.png");
        height: 300px;
        width: 200px;
    }
    #pineappleBurner {
        background-image: url("./assets/pineappleBurner.png");
        height: 360px;
        width: 300px;
        right: 200px;
        bottom: 60px;
    }

    .fruit {
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% auto;
        border: 1px solid black;
    }
}

#login, #roundName {
    .wrapper {
        width: 100%;
        text-align: center;
        @include verticalAlign();
    }

    .text-wrapper {
        // font-family: "Harbour";
        // font-weight: 600;
        // text-transform: uppercase;
        // position: relative;
        display: inline-block;
    }
}

#login {
    font-family: 'Circular';

    .theSoundOf svg {
        height: $logoTopHeight;
    }

    .nectaron svg {
        height: $logoHeight;
    }

    .subheading {
        color: $orange;
        margin: 30px 0px;

        span {
            display: block;
        }
    }
}

#roundName {
    .round {
        display: inline-block;
        position: relative;
        top: -5vw;

        svg {
            height: $logoHeight;
        }
        
    }

    .numbers {
        position: absolute;
        top: -3vw;

        li {
            list-style: none;
            display: inline-block;
        }

        svg {
            height: $roundNumberHeight;
        }
    }

    .description {
        background-color: $beige;
        font-family: 'Circular';
        color: $purple;
        font-size: 12px;
        width: 400px;
        padding: 20px;
        transform: rotate(-17deg);

        position: relative;
        display: inline-block;
    }
}