@import "shared";
@import "loader";
@import "letters";
@import "round";
@import "slider";
@import "mcq";
@import "qfq";

* {
    margin: 0;
    padding: 0;
}

#hippo, #elephant, #star{
    visibility:hidden;
  }

//   #test {
//       visibility: hidden;
//   }
  
body {
    background: $beige;
}

li {
    list-style: none;
}

h1 {
    font-family: "Harbour";
    font-weight: 600;
    text-align: left;
    font-size: 62px;
    line-height: 1.2;
}

p {
    font-family: "Circular";
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}

#color-wipe {
    position: absolute;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    display: none,
}

#canvas-container {
    position: absolute;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    z-index: 0;
}

#graphics-canvas {
    display:block;
    height: 100vh !important; // make this compatible with iphone scroll
    width: 100% !important;
}

#icon-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity:0.3;
}

.container {
    position: relative;
    overflow: hidden;
}

.section {
    display: none;
    max-width: 2500px;
    @include horizontalAlign(relative);
}

.full-page {
    margin: 0;
    padding: 0;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    position: fixed;
    z-index: 100;
}

.center-wrapper {
    width: 100%;
    text-align: center;
    @include verticalAlign(relative);
}

.text-wrapper {
    font-family: "Harbour";
    font-weight: 600;
    display: inline-block;
    position: relative;

    // this is for responsivemess
    @include transition(transform 0.2s ease);
}

// USED FOR QUESTIONS
.wrapper {
    width: calc(100% - 400px);
    position: relative;
    margin: 0 auto;
}

// USED FOR QUESTIONS
.col-wrapper {
    float: left;
    width: 50%;

    // &.text-column {
    //     margin-top: 20vh;
    // }
}

.mobile {
    display: none;

    @include maxMobile {
        display: block;
    }
}

.next-btn {
    width: 50px;

    svg {
        width: inherit;
    }

    &:hover {
        cursor: pointer;
    }
}

.logo-letters {
    @include maxMobile {
        display: none;
    }
}

.letter {
    height: $letterSize;
}

.fruits {
    .fruit {
        position: absolute;
        // display: none
    }
}

#questions {
    .question {
        height: 380px;
        color: $orange;
    }

    .question-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
}

#end-frame {
    position: absolute;

    .wrapper {
        color: $purple;
    }

    #playlist-title {
        font-family: "Harbour";
        font-weight: 600;
    }

    #playlist-desc {
        margin-top: 30px;
    }

    #album-cover {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .col-wrapper {
        width: 65%;
        margin-top: 22vh;

        &:first-child {
            width: 35%;
        }
    }
}