@import "shared";
@import "landing";
@import "waves";
@import "frame";
@import "nav";
@import "round";
@import "slider";
@import "mcq";
@import "qfq";
@import "side-pages";

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    height: calc(var(--vh, 1vh) * 100);
}

body {
    background-color: $purple;
    // background-color: $orange;
    @include transition(background-color 1s ease);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2 {
    font-family: "Harbour";
    font-weight: 600;
    // text-align: left;
    line-height: 1.2;
}

h1 {
    font-size: 55px;

    @include transition(font-size 0.2s ease);

    // < 1366px
    @include maxW($desktopLargeWidth) {
        font-size: 50px;
    }

    // < 1280px
    @include maxW($desktopWidth) {
        font-size: 45px;
    }

    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        font-size: 40px;
    }

    // < 640px;
    // @include maxW($mobileLargeWidth) {
    //     font-size: 45px;
    // }

    // < 480px;
    @include maxW($mobileWidth) {
        font-size: 35px
    }

    // really small screens
    @include maxW(380px) {
        font-size: 30px;
     }
}


h2 {
    font-size: 30px;
    font-weight: 400;
    color: $purple;

    @include transition(font-size 0.2s ease);

    // // < 1366px
    // @include maxW($desktopLargeWidth) {
    //     font-size: 50px;
    // }

    // // < 1280px
    // @include maxW($desktopWidth) {
    //     font-size: 45px;
    // }

    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        // font-size: 50px;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        font-size: 25px;
    }

    // < 480px;
    @include maxW($mobileWidth) {
        font-size: 20px
    }

    // really small screens
    // @include maxW(380px) {
    //     font-size: 30px;
    //  }
}

p, table {
    font-family: "Circular";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;

    @include transition(font-size 0.2s ease);


    // // < 1366px
    // @include maxW($desktopLargeWidth) {
    //     // font-size: 19px;
    // }

    // // < 1280px
    // @include maxW($desktopWidth) {
    //     font-size: 18px;
    // }

    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        font-size: 18px;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        font-size: 16px;
    }

    // < 480px;
    @include maxW($mobileWidth) {
        font-size: 14px
    }
}

#color-wipe {
    position: absolute;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    display: none,
}

#canvas-container {
    position: absolute;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    z-index: 100;
    z-index: -10;
}

#canvas-container-background {
    position: absolute;
    height: 100vh; // make this compatible with iphone scroll
    width: 100%;
    z-index: -10;
}

#graphics-canvas {
    display:block;
    height: 100vh !important; // make this compatible with iphone scroll
    width: 100% !important;
}

.container {
    position: relative;
    overflow: hidden;
}

.section {
    display: none;
    // max-width: 2500px;
    // @include horizontalAlign(relative);
}

.full-page {
    margin: 0;
    padding: 0; 
    width: 100%;
    position: fixed;
    // z-index: 100;
    top:0;
    height: 100%;
}

.center-wrapper {
    width: 100%;
    text-align: center;
    @include verticalAlign(relative);
}

.text-wrapper {
    font-family: "Harbour";
    font-weight: 600;
    display: inline-block;
    position: relative;

    // this is for responsivemess
    @include transition(transform 0.2s ease);
}

.wrapper {
    width: calc(100% - 300px);
    // width: calc(100% - 400px);
    height: calc(100% - 200px);
    position: relative;
    margin: 0 auto;
    top: 100px;

    // border: 1px solid black;

    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        width: 100%;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        // height: calc(100% - 125px);
        // top: 75px;
        // border: 1px solid blue;
    }
}

// .question-box-wrapper {
//     height: 300px;
// }


.question-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    // border: 1px solid blue;

    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        width: 80%;
        text-align: center;
        // max-width: 700px;
    }

    // // < 1024px
    // @include maxW($tabletLandscapeWidth) {
    //     max-width: 500px;
    // }
}

.question-box-wrapper {
    // border: 1px solid black;
    // display: table-cell;
    // vertical-align: middle;
}

.question {
    // height: 380px;
    color: $orange;
    // @include verticalAlign(relative);
    
    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        text-align: center;
    }
}

.col-wrapper {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;

    &.text-column {
        float: left;

        .question-wrapper {
            @include verticalAlign(relative);
            top: 45%;
            // margin-top: 30vh;

            @include maxW($tabletLandscapeWidth) {
                margin-top: 0;
                top: 0;
                transform: none;
            }
        }

        &:not(.full-width ) {

            // allow the slider to be on the bottom
            .question-wrapper {
                // < 1024px
                @include maxW($tabletLandscapeWidth) {
                    height: 100%;
                }
            }

            .question-box-wrapper {
                height: 250px;
                // border: 1px solid black;
                
                // < 1024px
                @include maxW($tabletLandscapeWidth) {
                    height: 200px;
                }
            }
        }
    }

    &.content-column {
        float:right;
    }

    &.full-width {
        width: 100%;
        float: none;
        margin:0;

        h1 {
            text-align: center;
        }

        .question-box-wrapper {
            height: 200px;
        }
    }


    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    // < 1024px
    @include maxW($tabletLandscapeWidth) {
        width: 100%;
        float: none;
        position: absolute;
    }
}

.next-btn {
    width: 50px;

    svg {
        overflow: visible;
        width: 50px;
    }

    &:hover {
        cursor: pointer;
    }
}

// svg.letter, .letter svg{
//     height: $letterSize;
// }

.fruits {
    .fruit {
        position: absolute;
        // display: none
    }
}


#questions {
    z-index: 10;
    position: relative;
}

// #questions {
//      // < 768px;
//     @include maxW($tabletPortraitWidth) {
//         .col-wrapper:not(.full-width), .col-wrapper.text-column:not(.full-width) {
//             width: 100%;
//             height: 100%;
//             float: none;
//             margin:0;
//             position: absolute;
//         }

//         .question-wrapper {
//             width: 80%;
//             border: 1px solid black;

//             .question {
//                 top: 100px;
//                 text-align: center;
//                 margin-top: 50px;
//                 text-shadow: 1px 1px 5px $beige;
//             }

//             .slide-container {
//                 position: absolute;
//                 bottom: 80px;
//                 width: 80%;
//                 left: 10%;

//                 .slider-line {
//                     width: 100%;
//                 }

//                 .slider-label {
//                     font-size: 16px;
//                 }
//             }
//         }

//         .col-wrapper:not(.text-column) {
//             height: calc(100% - 200px);
//             top: 100px;
//             border: 1px solid black;
//             z-index: -1;
//         }
//     }
// }

#end-frame {
    .wrapper {
        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            @include verticalAlign(relative);
            height: auto;

        }
    }

    .col-wrapper {
        // border: 1px solid black;
        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            float: none;
            position: relative;

        }
    }

    .text-column {
        text-align: center;

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            height: auto;
            margin-bottom: 50px;
        }
    }

    .content-column {
        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            height: 200px;
        }

        @include maxPxH(730) {
            height: 150px;
         }
    }

    .question-wrapper {
        // top: calc(50% - 10vh);

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            top: 0;
            transform: none;

        }
    }

    h1 {
        margin-bottom: 40px;
    }

    #album-wrapper {
        height: 100%;
        width: 100%;
    }

    #album-cover {
        // width: calc(100% - 200px);
        width: 100%;
        @include verticalAlign(absolute);
        // left:-100px

        @include maxW($tabletLandscapeWidth) {
            width: auto;
            height: 100%;
            top: 0;
            transform: none;
            margin: 0 auto;
            display: block;
            position: relative;

        }
    }

    #brew-again, #share {
        background-color: $purple;
        padding: 15px 20px;
        border-radius: 0.25em;
        color: $beige;
        display: inline-block;
        margin-top: 50px;

        &.active:hover {
            background-color: $orange;
        }

        @include maxPxH(730) {
            padding: 10px;
            margin-top: 20px;
        }
    }

    #share {
        margin-left: 10px;
    }
    // #playlist-url, #brew-again {
    //     margin-top: 50px;;
    // }

    .active {
        cursor: pointer;
    }
}

.subscribe-btn {
    margin-top: 50px;
    display: inline-block;
    cursor: pointer;

    @include maxPxH(730) {
        margin-top: 20px;
    }

    &:hover {
        color: $purple;
        text-decoration: underline;
    }
}

#loader {
    background-color: $orange;
    height: 100%;
    width: 100%;
    z-index: 150;
    position: relative;
    display: none;

    #loader-circle-wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 200px;
        // height: 200px;
        width: 0px;
        height: 0px;

        @include transition(all 0.2s ease);
    }

    #loader-circle {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: purple;

        transition: all 0.1s linear;
    }

    #loader-percent {
        color: $orange;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

}

#shit-browser-alert {
    background-color: $beige;

    .wrapper {
        height: 100%;
        width: 100%;
        top: 0;
    }
    
    .question-wrapper {
        max-width: 1000px;
        text-align: center;

        @include maxW($tabletLandscapeWidth) {
            top: 50%;
            transform: translateY(-50%)
        }
    }

    h1 {
        margin-bottom: 50px;
    }

    img {
        margin-top: 50px;
        width: 50%;
        min-width: 300px;
    }

    h1, p {
        color: $purple;
    }

    .small {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .small p {
        font-size: 10px;
    }

    em {
        color: $orange;
        font-style: normal;
    }
}

#playlist-url-thing {
    display: none;
}