 
@import "shared";

#mc-q {
    height: 100%;
    .wrapper {
        height: 100%;
    }

    .col-wrapper {
        &.text-column {
            margin-top: $marginTop_30;
        }

        h1 {
            height: auto;
        }
    }

    .mc-options {
        position: relative;
        display: inline-block;
        margin-top: 50px;
        width: 100%;
        height: 100px;
        border: 1px solid black;

        //< 768px;
        @include maxW($tabletPortraitWidth) {
            text-align: center;
        }

        li {
            // float: left;
            width: 15%;
            height: 100%;
            display: inline-block;
            background-size: 100% auto;
            background-repeat: no-repeat;
            // margin-left: 20px;
            // border: 1px solid black;
            cursor: pointer;

            // // < 1024px
            // @include maxW($tabletLandscapeWidth) {
            //     margin-left: 10px;
            // }

            // //< 768px;
            // @include maxW($tabletPortraitWidth) {
            //     margin-left: 10px;
            // }

            // // < 640px
            // @include maxW($mobileLargeWidth) {
            // }

            // // < 480px;
            // @include maxW($mobileWidth) {
            //     margin-left: 5px;
            //     width: 30px;
            // }

            // &:first-child {
            //     margin-right: 20px;

            //     // < 1024px
            //     @include maxW($tabletLandscapeWidth) {
            //         margin-right: 10px;
            //     }

            //     // < 768px;
            //     @include maxW($tabletPortraitWidth) {
            //         margin-right: 10px;
            //     }

            //     // < 640px
            //     @include maxW($mobileLargeWidth) {
            //     }

            //     // < 480px;
            //     @include maxW($mobileWidth) {
            //         margin-right: 5px;
            //     }
            // }

        }
    }
}

#can {
    width: 80%;
    height: 100%;
    max-width: 920px;
    position: relative;
    margin: 0 auto;

    background-image: url("./assets/round2/can.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    li {
        width: 80%;
        height: 100%;
        max-width: 920px;

        top:0;
        left:0;
        position:absolute;

        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
}