 
@import "shared";

#mc-q {
    height: 100%;

    .question {
        margin-bottom: 0;
    }

    // .col-wrapper {
    //     &.text-column {
    //         position: relative;
            
    //         .question-wrapper {
    //             @include verticalAlign(relative);
    //         }

    //     }
    // }

    .mc-options {
        position: relative;
        display: inline-block;
        margin-top: 50px;
        width: 100%;
        height: 100px;

        // < 1280px
        @include maxW($desktopWidth) {
            text-align: center;
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin: 0;
        }

        li {
            width: 15%;
            height: 100%;
            display: inline-block;
            background-size: 100% auto;
            background-repeat: no-repeat;
            cursor: pointer;
            background-position: bottom;
            position: relative;
        }
    }
}

#can {
    width: 80%;
    height: 100%;
    max-width: 920px;
    position: relative;
    margin: 0 auto;

    background-image: url("./assets/round2/can.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    // < 1280px
    @include maxW($desktopWidth) {
        height: 50%;
        top: 30%;
        background-size: auto 100%;
    }

    li {
        width: 100%;
        height: 0;
        height: 100%;
        max-width: 920px;
        opacity: 0;

        top:0;
        left:0;
        position:absolute;

        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;

        // < 1280px
        @include maxW($desktopWidth) {
            background-size: auto 100%;
        }
    }
}