@import "shared";

#burger, #headerSmall {
    position: absolute;
    z-index: $zIndexNavBar;
    display: none;
}

#burger {
    right: 20px;
    height: 16px;
    width: 20px;
    top: 20px; 

    svg {
        overflow: visible;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        display: block;
    }

    &.opened {
        #l1 {
            transform: rotate(45deg);
            top: 7px;
        }

        #l2 {
            transform: scaleX(0);
        }

        #l3 {
            transform: rotate(-45deg);
            top: 7px
        }
    }
}

#lines {
    width: 100%;
    height: 100%;
    position: relative;

    li {
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0px;

        @include transition(all 0.5s ease);
    }

    #l1 {
        top: 0px;
    }

    #l2 {
        top: 7px;
    }

    #l3 {
        top: 14px;
    }
}

#headerSmall {
    left: 20px;
    height: 16px;
    width: 130px;
    top: 21px;

    svg {
        width: 100%;
    }
}

#nav-wrapper {
    position: absolute;
    z-index: $zIndexNav;
    width: 100%;

    // < 768px
    @include maxW($tabletPortraitWidth) {
        position: relative;
        text-align: center;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        background-color: $orange;
        position: absolute;
        height: 100%;
        top: 0;
        left:0;
        display: none;
    }

}

#nav {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 50%;
    // transform: translateY(-100px);
    text-align: center;
    display: block;

    // < 768px
    @include maxW($tabletPortraitWidth) {
        width: 100%;
        position: relative;
    }
    
    // < 640px;
    @include maxW($mobileLargeWidth) {
        @include verticalAlign(relative);
    }

    li {
        position: relative;
        display: inline-block;
        font-family: "Circular";
        font-weight: 400;
        font-size: 14px;
        color: $beige;
        cursor: pointer;

        &.deg {
            display: none;
        }

        // < 640px;
        @include maxW($mobileLargeWidth) {
            display: block;
            font-size: 50px;
            text-transform: uppercase;
            text-align: center;
            color: $yellow;

            font-family: "Harbour";
            font-weight: 600;
            line-height: 1.7;
            padding: 0;
            border: none;

            &.deg {
                display: block;
                color: $purple;
                font-size: 14px;

                &.top {
                    margin-bottom: 30px;
                }

                &.bottom {
                    margin-top: 35px;
                }
            }

        }

        &:nth-child(n+3) {
            margin-left: 30px;
            
            // < 640px;
            @include maxW($mobileLargeWidth) {
                margin: 0
            }

            &.active {
                border-color: $orange;
            }
        }
    }
}

#deg-top {
    width: 50%;
    right: 0px;
    top: 25px;
    // transform: translateY(-100px);

    // < 768px
    @include maxW($tabletPortraitWidth) {
        display: none;
    }
}

#deg-bottom {
    width: 50%;
    left: 0px;
    bottom: 25px;
    // transform: translateY(100px);

    span {
        display: none;

        // < 768px
        @include maxW($tabletPortraitWidth) {
            display: inline;
        }
    }
}

#true {
    width: 50%;
    right: 0px;
    bottom: 25px;
    // transform: translateY(100px);
}


#true-mob{
    display: none;
    font-family: "Circular";
    font-weight: 400;
    font-size: 14px;
    color: $purple;
    position: absolute;
    bottom: 20px;
    left: 20px;

    // < 640px;
    @include maxW($mobileLargeWidth) {
        display: block;
    }
}

#deg-bottom, #true {
    // < 768px
    @include maxW($tabletPortraitWidth) {
        font-size: 12px;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        display: none;
    }
}

.desktop-nav-element {
    position: absolute;
    display: inline-block;
    font-family: "Circular";
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: $beige;
    z-index: $zIndexNav;

    span {
        cursor: pointer;
        display: inline-block
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        display: none;
    }
}

.hide-top {
    transform: translateY(-100px);
    &.visible {
        transform: none
    }
}

.hide-bottom {
    transform: translateY(100px);
    &.visible {
        transform: none
    }
}

#frame-letters {
    li {
        display: none;
        position: absolute;
        height: $frameLetterSize;
        width: $frameLetterSize;
        z-index: $zIndexNav;

        &.left {
            left: $framePadding;
        }

        &.right {
            right: $framePadding
        }

        &.top {
            top: $framePadding;
        }
        
        &.bottom {
            bottom: $framePadding;
        }

        &.center {
            @include horizontalAlign(absolute);
        }

        &.middle {
            @include verticalAlign(absolute);
        }
    }

    &.visible li{
        display: block;
    }
}
