@import "shared";

#burger {
    position: absolute;
    z-index: $zIndexNav;
    top: 20px;
    right: 20px;
    height: 15px;
    width: 20px;

    display: none;

    // < 640px;
    @include maxW($mobileLargeWidth) {
        display: block;
    }
}

#nav-wrapper {
    position: absolute;
    z-index: $zIndexNav;
    width: 100%;

    // < 768px
    @include maxW($tabletPortraitWidth) {
        position: relative;
        text-align: center;
    }

    // < 640px;
    @include maxW($mobileLargeWidth) {
        background-color: white;
        position: absolute;
        height: 100%;
        top: 0;
        left:0;
        display: none;
    }

}

#nav {
    position: absolute;
    top: calc(#{$framePadding} + 5px);
    left: 100px;
    opacity: 0;

    // < 768px
    @include maxW($tabletPortraitWidth) {
        position: relative;
        left: 0;
    }

    @include maxW($mobileLargeWidth) {
        width: 100%;
        text-align: center;
        @include verticalAlign(relative);
    }

    li {
        position: relative;
        display: inline-block;
        font-family: "Circular";
        font-weight: 400;
        text-align: left;
        font-size: 14px;
        color: $beige;
        cursor: pointer;

        &.deg {
            display: none;
        }

        // < 640px;
        @include maxW($mobileLargeWidth) {
            display: block;
            font-size: 50px;
            text-transform: uppercase;
            text-align: center;
            color: $yellow;
            line-height: 1.7;

            &.deg {
                display: block;
                color: $purple;
                font-size: 14px;

                &.top {
                    margin-bottom: 30px;
                }

                &.bottom {
                    margin-top: 35px;
                }
            }

        }

        &:nth-child(n+3) {
            &::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 1px;
                background: $beige;
                position: relative;
                top: -4px;
                margin-right: 10px;
                margin-left: 5px;
                
                // < 640px;
                @include maxW($mobileLargeWidth) {
                    display: none;
                }
            }

            &::after {
                content: "x";
                position: absolute;
                top: 0px;
                opacity: 0;
                left: calc(50% + 12px);
                transform: translateX(-50%);
                @include transition(all 0.2s ease);
            }

            &.active {
                // color: $orange;

                &::after {
                    opacity: 1;
                    top: 20px;
                }
            }
        }
    }
}