
@import "shared";

#quickfire-q {
    .question {
        color: $purple;
        margin-bottom: 0;
        display: inline-block;
    }

    .wrapper {
        text-align: center;
    }

    .question-wrapper {
        // top: 50%;

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            height: 80%;
            top: 10%;
            transform : none;

        }
    }

    .question-box-wrapper {
        // display: table-cell;
        // vertical-align: middle;
        // height: 250px;
        // max-width: 700px;

        // < 768px
        // @include maxW($tabletPortraitWidth) {
        //     height: 200px;
        // }

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            // display: inline-block;
            height: auto;
            

        }
    }

    // .col-wrapper {
    //     &.text-column {
    //         // margin-top: $marginTop_30;
    //         width: 100%
    //     }
        
    //     text-align: center;

    //     h1 {
    //         text-align: center;
    //     }
    // }

    // .question {
    //     // height: 250px;
    //     // text-shadow: 1px 1px 5px $beige;

    //     // < 768px
    //     @include maxW($tabletPortraitWidth) {
    //         height: 150px;
    //     }
    // }

    // .col-wrapper, .question-wrapper {
    //     max-width: 700px;
    //     display: inline-block;
        
    //     // < 1280px
    //     @include maxW($desktopWidth) {
    //         height: 100%;
    //     }
    // }

    #timer-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #timer {
        font-family: "Harbour";
        font-weight: 600;
        text-align: right;
        color: $blue;
        width: 100%;
        text-align: center;
        // font-size: 50vw;
        // font-size: calc(100vh - 100px);
        // line-height: 0.99;
        font-size: 55vw;
        @include verticalAlign(relative);
        top: 55%;

        @include transition(font-size 0.2s ease);
        // < 640px;
        // @include maxW($mobileLargeWidth) {
        //     font-size: 80vw;
        // }

        // < 1280px
        // @include maxW($desktopWidth) {
        //     font-size: 50vw;
        //     line-height: 80vh;
        // }



        // &.tens li {
        //     &:first-child {
        //         width: 18vw;
                
        //         @include maxW($tabletPortraitWidth) {
        //             width: 36vw;
        //         }
        //     }

        //     @include maxW($tabletPortraitWidth) {
        //         &:last-child {
        //             width: 50vw;
        //         }
        //     }
        // }

        // &.ones li {
        //     &:first-child {
        //         width: 0;
        //     }

        //     &:last-child {
        //         width: unset;
        //     }

        // }

        // li {
        //     text-align: center;
        //     font-size: 50vw;
        //     line-height: 110vh;
        //     display: inline-block;


        //     // < 1280px
        //     @include maxW($desktopWidth) {
        //         font-size: 70vw;
        //         height: 61vw;
        //         line-height: 71vw;
        //         border: 1px solid black;
        //         @include verticalAlign(relative);
        //     }

        //     &:first-child {
        //         width: 26vw;

        //         // < 1280px
        //         @include maxW($desktopWidth) {
        //             @include transition(width 0.2s ease);
        //             width: 36vw;
        //         }
        //     }

        //     &:last-child {
        //         width: 35vw;
        //         text-align: right;
                
        //         // < 1280px
        //         @include maxW($desktopWidth) {
        //             @include transition(width 0.2s ease);
        //             width:48vw;
        //         }
        //     }
        // }
    }

    #answer-wrapper {
        text-align: center;

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }

        li {
            background-color: $purple;
            // font-family: "Harbour";
            // font-weight: 600;
            color: $orange;
            display: inline-block;
            padding: 10px 20px;
            // font-size: 45px;
            cursor: pointer;
            position: relative;
            top:0px;

            @include transition(top 0.2s ease);
            // // < 1366px
            // @include maxW($desktopLargeWidth) {
            //     font-size: 40px;
            // }

            // // < 1280px
            // @include maxW($desktopWidth) {
            //     font-size: 35px;
            // }

            // // < 1024px
            // @include maxW($tabletLandscapeWidth) {
            //     font-size: 30px;
            // }

            // // < 480px;
            // @include maxW($mobileWidth) {
            //     font-size: 20px
            // }
            
            &:first-child {
                margin-right: 20px;
            }

            &:active {
                background-color: $orange;
                color: $purple;
            }
        }
    }
}