
@import "shared";

#quickfire-q {
    .question {
        color: $purple;
    }

    .wrapper {
        height: 100vh;
    }

    .col-wrapper {
        &.text-column {
            margin-top: $marginTop_30;
        }
    }

    .question-wrapper {
        max-width: 700px;
    }

    #timer {
        font-family: "Harbour";
        font-weight: 600;
        text-align: right;
        color: $blue;

        // @include verticalAlign();
        // top: 55%;
        position: absolute;
        right:120px;

        // // border: 1px solid black;
        // font-family: "Harbour";
        // font-weight: 600;
        // text-align: right;
        // // font-size: 1000px;
        // font-size: 50vw;
        // color: $blue;

        // position: relative;
        // width: 100%;
        &.tens{
            li:first-child {
                width: 18vw;
            }
        }

        li {
            text-align: right;
            font-size: 50vw;
            line-height: 110vh;
            display: inline-block;

            &:first-child {
                width: 26vw;
            }

            &:last-child {
                width: 35vw;
            }
            // // width: 750px;
            // right: 0;
            // width: 37vw;
            // line-height: calc(100vh + 5vw);
            // position: absolute;

            // &:first-child {
            //     // letter-spacing: -350px;
            //     right: 33vw;
            // }
        }
    }

    #answer-wrapper {
        margin-left: 10px;

        li {
            background-color: $purple;
            font-family: "Harbour";
            font-weight: 600;
            color: $orange;
            display: inline-block;
            padding: 10px 20px;
            font-size: 50px;
            cursor: pointer;
            position: relative;
            top:0px;

            @include transition(top 0.2s ease);
            
            &:first-child {
                margin-right: 20px;
            }

            &:active {
                background-color: $orange;
                color: $purple;
            }
        }
    }
}