@import 'shared';

#round-name {
    .round, .round-name-text, .numbers, .description {
        display: inline-block;
        position: relative; 

        li {
            display: none;
            position: relative;
        }
    }

    .round {
        svg {
            overflow: visible;
        }
    }

    .round-name-text {
        width: 166px;
        top:-100px;

        svg {
            height: 47px;
        }
    }

    .numbers {
        display: block;
        top: -30px;
        left: 63px;

        svg {
            height: 226px;
            overflow: visible;
        }
    }

    .description {
        background-color: $beige;
        font-family: 'Circular';
        color: $purple;
        text-align: center;
        position: relative;

        p {
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
        }
    }

    .box {
        display: inline-block;
        // border: 1px solid black;
    }

    .next-btn {
        display: block;
        position: absolute;
        bottom: 89px;
        right: 0px;
    }

    .fruit-whole {
        width: 180px;
        display: block;
        position: absolute;
        right: 295px;
        top: -152px;
    }
}


// >1920px
@include minW($desktopXLargeWidth) {

}

//1920px;
@include maxW($desktopXLargeWidth) {

}

//1366px
@include maxW($desktopLargeWidth) {
}

//1280px
@include maxW($desktopWidth) {

}

// 901px
@include minPxW(901) {
    #round-name {
        .round-name-text {
            li {
                &:first-child {
                    left:-20px;
                }
    
                &:nth-child(2) {
                    left:-63px;
                }
    
                &:nth-child(3) {
                    left:-66px;
                }
            }
        }

        .description {
            padding: 20px;
            width: 270px;
            z-index: -1;

            height: 135px;
            max-height: 135px;;
            top: -110px;
            left: -6px;

            p {
                @include verticalAlign(absolute);
                padding: 0px 30px;
                left:0px;
            }
        }
    }
}

// 900px
@include maxPxW(900) {
    #round-name {
        .text-wrapper {
            @include transform(scale(0.8));
        }

        .box, .round-name-text, .description {
            display: block;
        }

        .round {
            left:-60px
        }

        .numbers {
            left: 60px;
            top: -70px
        }

        .round-name-text {
            width: 100%;
            text-align: center;
            // right: -65px;
            // width: 166px;
            top: -95px;

            svg {
                height: 60px;
            }

            li {
                right: 0px;
            }
        }

        .description {
            top : -80px;

            p {
                display: inline-block;
                width: 300px;
                padding: 30px;
            }
        }
    }
}

//768px;
@include maxW($tabletPortraitWidth) {

}

//640px
@include maxW($mobileLargeWidth) {
    // .round-name {
    //     .round svg {
    //         height: 50px;
    //     }
    // }

    // .round-name-text {
    //     svg {
    //         height: 40px;
    //     }
    // }

    // .numbers {
    //     svg {
    //         height: 100px;
    //     }
    // }

    // #round-name {
    //     .text-wrapper {
    //         @include transform(scale(0.8));
    //     }

    //     .box, .round-name-text, .description {
    //         display: block;
    //     }

    //     .round {
    //         left:-40px
    //     }

    //     .numbers {
    //         left: 40px;
    //         top: -70px
    //     }

    //     .round-name-text {
    //         width: 100%;
    //         text-align: center;
    //         // right: -65px;
    //         // width: 166px;
    //         top: -95px;

    //         svg {
    //             height: 60px;
    //         }

    //         li {
    //             right: 0px;
    //         }
    //     }

    //     .description {
    //         p {
    //             display: inline-block;
    //             width: 300px;
    //             padding: 30px;
    //         }
    //     }
    // }
}

//480px;
@include maxW($mobileWidth) {
    .text-wrapper {
        @include transform(scale(0.7));
    }
}