// COLOURS
$purple : #88009D;
$orange: #FF1900;
$beige: #FCF1DB;
$blue: #00C1F5;

$letterSize: 70px;
$marginTop_30 : 30vh;
$marginTop_20 : 20vh;
$marginTop_10 : 10vh;

// $breakpoints: (phone: 640px, tablet: 768px, desktop: 1024px) !default;

@function center($containerWidth, $elWidth) {
    @return calc(#{$containerWidth}/2 - (#{$elWidth}.2));
}

@mixin verticalAlign($value) {
    position: $value;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontalAlign($value) {
    position: $value;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerAlign {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateX(-50%);;
}

@mixin centerAlign {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}


@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}
  
  @mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@font-face {
    font-family: 'Circular';
        src: url('fonts/CircularStd-Bold.otf') format('opentype'),
            url('fonts/CircularStd-Bold.woff') format('woff'),
            url('fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
        src: url('fonts/CircularStd-Book.otf') format('opentype'),
            url('fonts/CircularStd-Book.woff') format('woff'),
            url('fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Harbour';
        src: url('fonts/Harbour-Bold.ttf') format('truetype'),
            url('fonts/Harbour-Bold.woff') format('woff'),
            url('fonts/Harbour-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harbour';
        src: url('fonts/Harbour-Light.ttf') format('truetype'),
            url('fonts/Harbour-Light.woff') format('woff'),
            url('fonts/Harbour-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

$desktopXLargeWidth: 1920px;
$desktopLargeWidth: 1366px;
$desktopWidth: 1280px;
$tabletLandscapeWidth: 1024px;
$tabletPortraitWidth: 768px;
$mobileLargeWidth: 640px;
$mobileWidth: 480px;

  
@mixin minTablet {
    @media (min-width: #{$mobileLargeWidth}) {
        @content;
      }
}

@mixin maxMobile {
    @media (max-width: #{$mobileLargeWidth}) {
        @content;
    }
}

@mixin minPxH($screen) {
    @media (min-height: $screen+'px') {
        @content;
    }
 }

 @mixin maxPxH($screen) {
    @media (max-height: $screen+'px') {
        @content;
    }
 }

@mixin minPxW($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

 @mixin maxPxW($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }

 @mixin maxW($screen) {
    @media (max-width: $screen) {
        @content;
    }
 }

 @mixin minW($screen) {
    @media (min-width: $screen) {
        @content;
    }
 }

// // < 1366px
// @include maxW($desktopLargeWidth) {
//     font-size: 55px;
// }

// // < 1280px
// @include maxW($desktopWidth) {
//     font-size: 55px;
// }

// // < 1024px
// @include maxW($tabletLandscapeWidth) {
//     font-size: 50px;
// }

// // < 768px
// @include maxW($tabletPortraitWidth) {
// }

// // < 640px;
// @include maxW($mobileLargeWidth) {
// }

// // < 480px;
// @include maxW($mobileWidth) {
// }