@import "shared";

#popupPage {
    // z-index: -1000;
    // background-color: $yellow;
    background-color: $beige;
    top: 0;
    left:0;

    // opacity: 0;
    // z-index: -1000;
    transition: opacity 0.3s ease;

    // &.active {
    //     // z-index: $zIndexPopupPages;
    //     opacity: 1;
    // }

    z-index: $zIndexPopupPages;

    @include maxW($mobileLargeWidth) {
        z-index: $zIndexPopupPagesMobile;
    }

    h1, p, table {
        color: $purple;
    }

    .col-wrapper:not(.content-wrapper) {
        width: 100%;
        overflow: scroll;
    }

    .content-wrapper {
        position: absolute;
    }

    .col {
        width: 45%;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }

        // < 768px
        @include maxW($tabletPortraitWidth) {
            width: 100%;
            float: none;
        }
    }

    .close-btn {
        height: 30px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 0.5s ease;
        position: relative;
        z-index: 50;

        &:hover {
            transform: rotate(360deg);
        }

        // < 640px;
        @include maxW($mobileLargeWidth) {
            display: none;
        }
    }
}

#about, #faq, #subscribe {
    display: none;
    height: 100%;
    overflow: scroll;
    // z-index: 1000;
}

#about {

    .subscribe-btn
     {
         margin-top: 20px;
         margin-bottom: 50px;
     }

    .content-wrapper{
        opacity: 0.65;

        // // < 1024px
        // @include maxW($tabletLandscapeWidth) {
        //     display: none;
        // }
    }

    .question-wrapper {
        max-width: 1075px;
    }


    h1 {
        font-weight: 400;

        // > 480px;
        @include minW($mobileWidth) {
            font-size: 45px;
        }
    }

    p {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    h1, p {
        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            max-width: 500px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .meetNectaron {
        width: 100%;
        max-width: 600px;
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            max-width: 500px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr {
        border-bottom: 1px solid $purple;
        line-height: 2;

        &:last-child {
            border: none;
        }
    }

    td:first-child {
        font-weight: 600;
    }


    .fruit {
        height: 100%;

        li {
            text-align: center;
            position: relative;

            img {
                @include horizontalAlign(absolute);
                display: inline-block;
                width: 100%;
                max-width: 50vh;
            }

            &:first-child {
                height: 60%;
                img {
                    bottom: 0px;
                }
    
                z-index: 1;
            }

            &:nth-child(2) {
                height: 40%;
                top: -5%;
                img {
                    top: 0px;
                }
            }
        }
    }
}

#faq {

    .question-wrapper {
        max-width: 800px;
        text-align: center;
    }

    p {
        margin-bottom: 50px;
        margin-top: 10px;
    }

    h2:nth-child(2) {
        margin-bottom: 50px;
        margin-top: 10px;
        color: $orange;
        text-align: center;
    }

    h1 {
        color: $orange;
        text-align: center;
        margin-top: 50px;

        // < 640px;
        @include maxW($mobileLargeWidth) {
            margin-top: 20px;
        }
    }

    a {
        text-decoration: underline;
    }

    .content-wrapper {
        opacity: 0.07;
    }

    .desktop {
        // height: 150%;
        width: 100%;
        margin: 0 auto;
        display: block;
        position: absolute;
        // position: relative;
        top: -25%;

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            display: none;
        }
    }
}