@import "shared";

#contact, #faq, #about {
    background-color: $beige;
    top: 0;
    left:0;

    .wrapper {
        height: calc(100% - 200px);
        top: 100px;
        border: 1px solid black;
    }

    .column {
        float: left;
        width: 50%;
        height: 100%;
        overflow: scroll;
    }

    h1, p, table {
        color: $purple;
    }

    p {
        margin-bottom: 40px;
        margin-top: 20px;
        // max-width: 580px;
    }

    table {
        width: 100%;
    }

    tr {
        border-bottom: 1px solid $purple;
    }

    .fruit {
        height: 100%;

        li {
            text-align: center;
            position: relative;
            img {
                @include horizontalAlign(absolute);
                display: inline-block;
                width: 100%;
                max-width: 50vh;
            }

            &:first-child {
                height: 60%;
                img {
                    bottom: 0px;
                }
    
                z-index: 100;
            }

            &:nth-child(2) {
                height: 40%;
                img {
                    top: 0px;
                }
            }
        }
    }
}