@import "shared";

$marginTop : 30vh;
$marginTop2 : 10vh;

#slider-q {
    .col-wrapper {
        &.text-column {
            margin-top: $marginTop;
        }
    }

    .slider-q {
        text-align: center;
        display: none;
        width: 100%;
    }

    .slider-q1, .slider-q5 {
        margin-top: $marginTop;
        position: relative;

        li {
            width: inherit;
            position: absolute;
            opacity: 0;
            transform-origin: center;

            img {
                width: inherit;
            }
        }
    }

    .slider-q2 {
        .scale-top, .scale-bottom {
            height: 50vh;
            text-align: center;
            position: relative;

            img {
                @include horizontalAlign();
                position: absolute;
                display: inline-block;
                width: 200px;
            }
        }

        .scale-top {
            img {
                bottom: 0px;
            }

            z-index: 100;
        }

        .scale-bottom {
            img {
                top: 0px;
            }
        }
    }

    .slider-q3 {
        margin: 0;
        padding: 0;
        height: 100vh; // make this compatible with iphone scroll
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        li {
            width: 5vw;
            height: 10vw;
            // border: 1px solid black;
            position: absolute;
            bottom: 0px;
            // img {
            //     width: 100%;
            // }

            // &.q3-round {
            //     width: 225px;
            //     transform: rotate(-17deg);
            // }

            // &.q3-sharp {
            //     width: 100px;
            //     transform: rotate(209deg);
            // }

            &.sharp {
                background-image: url("./assets/round2/q3_1.png");
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.round {
                background-image: url("./assets/round2/q3_0.png");
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .slider-q5 {
        margin-top: $marginTop2;
        li {
            width: 120%;
            left:-10%;
        }
    }

    // .fruits {
    //     .fruit-top, .fruit-bottom {
    //         height: 50vh;
    //         text-align: center;
    //         position: relative;

    //         img {
    //             @include horizontalAlign();
    //             position: absolute;
    //             display: inline-block;
    //             width: 200px;
    //         }
    //     }

    //     .fruit-top {
    //         img {
    //             bottom: 0px;
    //         }

    //         z-index: 100;
    //     }

    //     .fruit-bottom {
    //         img {
    //             top: 0px;
    //         }
    //     }
    // }

    .slide-container {
        position: relative;
        width: 100%;
        left: 10px;
    }

    .slider-thumb {
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 16px solid $purple;
        position: absolute;
        left: calc(50% - 9px);

    }

    .slider-label {
        position: absolute;
        top: -35px;
        color: $purple;
    }

    #min-value-label {
        left:-20px
    }

    #max-value-label {
        right: -20px;
    }

    .slider-line {
        width:inherit;
        display: block;
        border-top: 2px solid $purple;
    }

    .slider-input {
        width: 100%;
        opacity: 0;
        position: relative;
    }

    .slider-thumb, .slider-input {
        top: 17px;
        cursor: pointer;
    }
}