@import "shared";

#slider-q {
    height: 100%;

    .col-wrapper:not(.full-width) {
        .slide-container {
            // < 1024px
            @include maxW($tabletLandscapeWidth) {
                position: absolute;
                bottom: 0px;
            }
        }
    }

    .full-width .question-wrapper {
        @include verticalAlign(relative);
        max-width: 600px;
    }

    #circle-wrapper {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

        .circle {
            display: block;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25vw;
            height: 25vw;
            background-color: $yellow;
            border-radius: 100%;
        }
    }

    .slider-q {
        text-align: center;
        display: none;
        width: 100%;
    }

    .slider-q1 {
        .sun-rays{
            @include horizontalAlign(absolute);
            height: 120%;
            top: -10%;
            z-index: -1;
            opacity: 0.5;
            overflow: visible;
    
            .star {
                opacity: 0;
            }

            .moon-center {
                opacity: 0;
            }
        }
    }

    .slider-q2 {
        height: 100%;

        li {
            height: 60%;
            text-align: center;
            position: relative;

            img {
                // @include horizontalAlign(relative);
                position: relative;
                display: block;
                margin: 0 auto;
                height: 100%;
            }

            &:first-child {
                img {
                    bottom: 0px;
                }
    
                z-index: 1;
            }

            &:nth-child(2) {
                top: -5%;

                img {
                    top: 0px;
                }
            }
        }
    }

    .slider-q1, .slider-q3 {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .slider-q3 {
        li {
            width: 5vw;
            height: 10vw;
            position: absolute;
            bottom: 0px;

            @include maxPxW(900) {
                width: 10vw;
                height: 20vw;
            }


            &.sharp {
                background-image: url("./assets/round1/q3_sharp.png");
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.round {
                background-image: url("./assets/round1/q3_round.png");
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .slider-q4 {
        height: 100%;
        position: relative;

        > li {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;

            img, svg {
                height: inherit;
            }

            svg {
                width: inherit;
            }
        }
        
        #bubbles {
            display: none;
            
            li {
                display: block;
                width: 100px;
                height: 100px;
                background-image: url("./assets/round1/bubble.png");
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 0px;
            }
        }
    }

    .slider-q5 {
        position: relative;
        height: 100%;

        li {
            height: 100%;
            width: inherit;
            position: absolute;
            transform-origin: center;
            opacity: 0;

            img {
                height: 100%;
            }
        }
    }

    .slider-q2, .slider-q4, .slider-q5 {
        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            position: relative;
            height: 60%;
            top: 30%;
        }
    }

    .slide-container {
        position: relative;
        width: 100%;
        left: 10px;
        margin-top: 20px;

        // < 1024px
        @include maxW($tabletLandscapeWidth) {
            margin: 0;
            left: 20px;
        }

        &.orange-left {
            #min-value-label {
                color: $orange;
            }
            
            .slider-line {
                background: linear-gradient(90deg, rgba(255,25,0,1) 0%, rgba(136,0,157,1) 100%);
            }
        }

        &.orange-right {
            #max-value-label {
                color: $orange;
            }

            .slider-line {
                background: linear-gradient(90deg, rgba(136,0,157,1) 0%, rgba(255,25,0,1) 100%);
            }
        }
    }

    .slider-thumb {
        width: 0;
        height: 0;
        left: -10px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 16px solid $purple;
        position: absolute;
        opacity: 0;
        top: 10px;

        @include maxW($tabletPortraitWidth) {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 30px solid $purple;
            left: -19px;
        }
    }

    .slider-label {
        position: absolute;
        top: -35px;
        color: $purple;

        span {
            font-weight: 600;
        }
    }

    #min-value-label {
        left:-20px
    }

    #max-value-label {
        right: 0px;
        @include maxW($tabletPortraitWidth) {
            right: 20px;
        }
    }

    .slider-line {
        width: calc(100% - 20px);
        display: block;
        height: 3px;
        background: rgb(136,0,157);

        @include maxW($tabletPortraitWidth) {
            width: calc(100% - 40px);
        }
    }
}